{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="d-flex align-items-center justify-content-center">
    <form method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Lap">
    </form>
</div>

<div class="d-flex align-items-center justify-content-center">
    <table id="table" class= "sortable table-bordered table-striped w-75 padding-auto">
        <thead>
            <tr>
                <th>Runner</th>
                <th>Name</th>
                <th>Lap Number</th>
                <th>Time hh:mm:ss</th>
                <th>Average Speed mph</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> {{ data.runner.number }}</td>
                <td> {{ data.runner.first_name }} {{data.runner.last_name}} </td>
                <td> {{ data.lap }} </td>
                <td> {{ data.duration }} </td>
                <td> {{ data.average_speed }} </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}