{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container py-3 py-md-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="mb-4">Thank You</h1>
            <p>You have completed the signup flow.</p>
            <p>If you completed the PayPal donation, your payment has been recorded. You will receive a confirmation email if we have that set up.</p>
            <p class="mb-0">See you on race day!</p>
        </div>
    </div>
</div>
{% endblock %}
