{% extends 'base.html' %}
{% load static %}



{% block content %}
<form method="post">
    {% csrf_token %}
    <div class="container">
        <h2>Race Details</h2>
        <div class="form-group">
            {{ form.name.label }}
            {{ form.name }}
        </div>

        <div class="form-group">
            {{ form.is_current.label }}
            {{ form.is_current }}
        </div>

        <div class="form-group">
            {{ form.status.label }}
            {{ form.status }}
        </div>

        <div class="form-group">
            {{ form.Entry_fee.label }}
            {{ form.Entry_fee }}
        </div>

        <div class="form-group">
            {{ form.date.label }}
            {{ form.date }}
        </div>

        <div class="form-group">
            {{ form.distance.label }}
            {{ form.distance }}
        </div>

        <div class="form-group">
            {{ form.laps_count.label }}
            {{ form.laps_count }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock %}